[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/ack"]
	path = home/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/easymotion"]
	path = home/.vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/pyflakes"]
	path = home/.vim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/autocomplpop"]
	path = home/.vim/bundle/autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "home/.vim/bundle/delimitMate"]
	path = home/.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
