[user]
    name = Marco Chomut
    email = marco.chomut@gmail.com

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[core]
    pager = less -R
    # excludesfile = /Users/Marco/.gitignore_global

[merge]
    conflictstyle = diff3
    tool = vimdiff

[credential]
    helper = osxkeychain

[help]
    autocorrect = 1

[rerere]
    enabled = 1

[push]
    default = current

[alias]
    st = status -sb
    wtf = !git-wtf
    # div = divergence

    aa = add --all
    stage = add -u
    unstage = reset HEAD --

    d = diff --ignore-space-at-eol --ignore-space-change
    dc = !git d --cached
    stats = diff --stat

    ci = commit
    ca = commit -a -m
    amend = commit --amend -c HEAD --
    credit = commit --amend --author "$1 <$2>" -c HEAD --

    br = branch
    latest = for-each-ref --count=10 --sort=-committerdate --format='%(committerdate:short) %(refname:short)'
    co = checkout

    f = fetch --all --prune
    pullff = pull --ff-only
    pullr = rebase -p
    down = !git pullr
    up = push
    noff = merge --no-ff
    # push --tags
    # TODO: "git pullr", which does "rebase -p <upstream_branch>", point "down" at it instead of "pullff"
    #   git for-each-ref --format='%(upstream:short)' $(git symbolic-ref -q HEAD)
    # TODO: shortcut for "co develop, pullr, co feature/<foo>, rebase develop", but replaces last step with "merge develop" if branch has ever been pushed
    # TODO: shortcut for "stash, co develop, pullr", then: "co feature/<foo>, stash pop"

    undo = reset --soft HEAD~1 --

    count = shortlog -sn
    # --no-merges
    # hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    tagcommit = !sh -c 'git rev-list $0 | head -n 1'

    type = cat-file -t
    dump = cat-file -p

    serve = daemon --reuseaddr --base-path=. --export-all --verbose

[github]
    user = Pewpewarrows

# TODO: push.default current or tracking
# TODO: include.path = .gitconfig.local
