[user]
    name = Marco Chomut
    email = marco.chomut@gmail.com
[github]
    user = Pewpewarrows
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    pager = less -R
[alias]
    st = status
    ci = commit
    ca = commit -a -m
    co = checkout
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    wtf = !git-wtf
    diff = diff --word-diff
[merge]
    conflictstyle = diff3
